<template>
<div class="resume-index">
  <div class="center">
    <div class="box">111</div>
    <div class="box">222</div>
<!--    <span>水平剧中</span>-->
  </div>

  <div class="box1">
    <div class="box2">1</div>
    <div class="box2">2</div>
    <div class="box2">3</div>
  </div>
  <div class="box1">
    <div class="box2">1</div>
    <div class="box2">2</div>
    <div class="box2">1</div>
    <div class="box2">2</div>
    <div class="box2"></div>
  </div>

  <div class="box3">
    <div class="box4" v-for="(item,index) in 4" :key="index">
      <div style="width: 100px;height: 100px;background-color: #42b983">图片</div>
      <div style="padding-left: 20px;width: calc(100% - 300px)">{{ item }} {{activeIndex}}</div>
<!--      <div style="position: absolute;bottom: 10px;right: 10px;width: 300px;display: flex;justify-content: space-between">-->
<!--        <div>shijian</div>-->
<!--        <div>mingchn</div>-->
<!--      </div>-->
      <div style="display: flex;justify-content: space-between;width: 300px;padding-top: 80px">
        <div>shijian</div>
        <div>mingchn</div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "index",
  data(){
    return {
      activeIndex: "ddfff"
    }
  },
  props:{
    //组件接收值的地方
    title:{
      type: String,
      default: ()=>{
        return ""
      }
    }
  },
  methods:{
    handleSelect(){
      console.log("hhhhhhh")
    }
  }
}
</script>

<style scoped lang="scss">
.resume-index{

  .title{
    color: red;
    font-size: 30px;
  }

  .center{
    width: 500px;
    height: 500px;
    background-color: #000;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    //margin: 0 auto;
    //line-height: 500px;
    //text-align: center;



  }
  .box{
    background-color: #42b983;
    //margin: 0 auto;
    //width: 100%;
  }
  .box1{
    background-color: slategray;
    height: 100px;

    padding: 30px;

    //display: grid;
    //grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    display: flex;
    //justify-content: space-around;
    justify-content: space-between;

  }
  .box2{
    background-color: skyblue;
    width: 100%;
    //width: 100px;
  }
  .box3{
   background-color: beige;
  }
  .box4{
    background-color: white;
    margin: 20px;
    padding: 20px;
    display: flex;
    position: relative;

    //justify-content: space-between;

  }

}
</style>