<template>
<div>
  <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal"  @select="handleSelect" >
    <el-menu-item index="ws">处理中心</el-menu-item>
    <el-submenu index="2">
      <template slot="title">我的工作台</template>
      <el-menu-item index="ss">选项1</el-menu-item>
      <el-menu-item index="detail">选项2</el-menu-item>
      <el-menu-item index="2-3">选项3</el-menu-item>
      <el-submenu index="2-4">
        <template slot="title">选项4</template>
        <el-menu-item index="2-4-1">选项1</el-menu-item>
        <el-menu-item index="2-4-2">选项2</el-menu-item>
        <el-menu-item index="2-4-3">选项3</el-menu-item>
      </el-submenu>
    </el-submenu>
    <el-menu-item index="3" disabled>消息中心</el-menu-item>
    <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>
  </el-menu>

  <div id="app">
    <router-view/>
  </div>
</div>
</template>

<script>
export default {
  name: "index",
  data(){
    return{
      activeIndex: "1"
    }
  },
  mounted() {

  },
  methods:{
    handleSelect(index, indexPath){
       console.log(index,indexPath)

      if ( index == 'detail') {
        this.$router.push({
          path: 'es',
          query: {
            id: 3
          }
        })
      } else {
        this.$router.push(index)
      }
    }
  }
}
</script>

<style scoped>

</style>