<template>
<div class="original-index">

  <div class="top-box">
    <div
        class="card-item"
        v-for="(item,index) in topList"
        :key="index"
    >
      <el-image
          style="width: 100%; height: 190px"
          :src="item.img"
          fit="cover"></el-image>
      <div class="title">{{item.title}}</div>
      <div class="time">{{item.time}}</div>
      <div class="xinwen">新闻</div>
    </div>
  </div>

  <!-- 切换标题部分 -->
  <div
      class="title-cell"
  >
    <div
        class="item"
        v-for="(item1,index1) in titleList"
        :key="index1"
        :class="item1 === title ? 'active': ''"
        @click="clickTitle(item1)"
    >
      {{item1}}
    </div>
  </div>
  <!-- 列表部分 -->
  <div
      class="list-cell"
      v-for="(item2,index2) in list"
      :key="index2"
  >
    <el-image
        class="img"
        :src="item2.img"
        fit="cover"></el-image>
    <div class="title">{{item2.title}}</div>
  </div>

</div>
</template>

<script>
export default {
  name: "originalGod",
  data () {
    return {
      topList: [
        {
          id: 1,
          title: '「星彩漫天」——《原神》烟花卡片集换H5正式上线',
          time: '2023/02/05',
          img: 'https://webstatic.mihoyo.com/upload/contentweb/2023/02/03/42b572141d63762642378d733e42e723_4851677574951838761.png'
        },
        {
          id: 2,
          title: '【网页活动上线】剪彩映虹——参与可得原石等游戏内奖励',
          time: '2023/01/29',
          img: 'https://webstatic.mihoyo.com/upload/contentweb/2023/01/29/d133d166faee5c75ab5b150491292e97_7491618600371730847.png'
        },
        {
          id: 3,
          title: '《原神》「流光拾遗之旅」——仙闻篇·内画',
          time: '2023/01/28',
          img: 'https://webstatic.mihoyo.com/upload/contentweb/2023/01/28/4ff68f0cc287842021d78d6383663e81_5271443596933595362.jpg'
        }

      ],
      titleList: ['最新','新闻','公告','活动'],
      title: '',
      list: [
        {
          img: 'https://uploadstatic.mihoyo.com/contentweb/20201009/2020100912021670098.png',
          title: '《原神》祈愿概率公示'
        },
        {
          img: 'https://webstatic.mihoyo.com/upload/contentweb/2023/01/16/adaca686a9d402cab8d822fa10732988_6944874481639867125.jpg',
          title: '《原神》预下载已开启'
        },
        {
          img: 'https://webstatic.mihoyo.com/upload/contentweb/2023/01/16/7f341ba2332a05fba996d820334bdebb_2996032226775512164.jpg',
          title: '《原神》3.4版本「磬弦奏华夜」更新维护预告'
        },
        {
          img: 'https://webstatic.mihoyo.com/upload/contentweb/2022/12/07/5cc3065b6ef051d74479baf232831e35_7777248077405843881.jpg',
          title: '《原神》3.3版本「六入尽明，诸相皆无」更新说明'
        }
      ]
    }
  },
  methods:{
    clickTitle (title) {
      this.title = title
    }
  }
}
</script>

<style scoped lang="scss">
.original-index{
  background-color: #fafafa;
  .top-box{
    height: 636px;
    background-image: url('https://ys.mihoyo.com/main/_nuxt/img/5d86b58.jpg');
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    .card-item{
      height: 450px;
      background-color: rgba(18,18,18,0.8);
      box-shadow: 0 3px 7px 0 rgba(0,0,0,0.35);
      border-radius: 4px;
      padding: 24px;
      position: relative;
      .title{
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 34px;
        color: #fefefe;
        padding: 10px 0;
      }
      .time{
        position: absolute;
        bottom: 24px;
        left: 24px;
        color: #808080;
        font-size: 16px;
      }
      .xinwen{
        position: absolute;
        bottom: 24px;
        right: 24px;
        font-size: 16px;
        color: #ffc000;
      }
    }
  }
  .title-cell{
    display: flex;
    padding: 38px 0;
    .item{
      margin-right: 20px;
      min-width: 155px;
      height: 36px;
      line-height: 36px;
      background-color: rgba(57,59,64,0.18);
      color: #393b40;
      border-radius: 4px;
      text-align: center;
      cursor: pointer;
      transition: all 0.2s 0s ease;
    }
    .active{
      background-color: #393b40;
      color: #f4d8a8;
    }
  }
  .list-cell{
    background-color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    .title{
      font-size: 24px;
      font-weight: 400;
    }
    .img{
      width: 265px;
      height: 140px;
      margin-right: 20px;
    }

  }

}


</style>