<!--
 * @Author: YinXuan
 * @Date: 2023-02-20 09:36:03
 * @LastEditTime: 2023-02-22 15:27:57
 * @Description: 
-->
<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<link rel="icon" href="<%= BASE_URL %>avatar.ico" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<noscript>
			<strong
				>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to
				continue.</strong
			>
		</noscript>
		<div id="app"></div>

		<!-- 添加鼠标点击效果 -->
		<script src="./mouse/circle.js"></script>
		<!-- 添加背景雪花效果 -->
		<script src="./mouse/snow.js"></script>
	</body>
</html>
