<!--
 * @Author: chensishun 1773092597@qq.com
 * @Date: 2023-02-17 17:08:03
 * @LastEditors: chensishun 1773092597@qq.com
 * @LastEditTime: 2023-02-17 17:54:58
 * @FilePath: \chensishun-project\src\pages\resume\index.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<template>
<div class="resume-index">
  <p class="center">陈思顺</p>
  <p class="center">手机号: 15616832081</p>
  <p class="center">年龄：22岁</p>
  <p class="center">邮箱: 1773092597@qq.com</p>
  <p class="center">现住城市：深圳</p>
  <p class="title">个人介绍</p>
  <ol>
    <li>本人熟练掌握网页设计的基本布局,熟悉 HTML5、CSS、JavaScript 等基础用法,熟练掌握 VSCode 、Git、 WebStrom 等开发辅助工具。</li>
    <li>本人学习能力强,能够自主的学习各种技能,灵活运用,有很强的团队精神,善于交际,适应环境强。</li>
    <li>本人于2019年10月申请加入中国共产党，2020年4月成为了一名入党积极分子，2021年确定发展对象，同年成为预备党员，于2021年6月18日提交转正申请书，正式成为一名合格的共产党员。加入中国共产党由两位介绍人介绍，因本人在学校期间经常帮助老师和同学做些力所能及的事同时跟同学关系好，同时做过文明劝导员的志愿者工作，因此推荐我加人中国共产党。</li>
    <li>尝试过利用腾讯云Web应用托管功能，在管理后台创建项目，编写好代码之后，通过Git指令上传到Gitlab上，自动部署到线上环境。外网也可以通过打开链接进行访问。</li>
  </ol>
  <p class="title top">个人意向</p>
  <p>从事职业：</p>
  <p>Web前端开发工程师</p>
  <p class="title top">实习经历</p>
  <p>公司名称：</p>
  <p>广东南方数码科技股份有限公司</p>
  <p>实习时间：</p>
  <p>2022/04-2022/06</p>
  <p class="title top">工作经历</p>
  <p>实习期间，在导师的带领下，前往不同城市的村子里，在与当地人进行友好交流之后，搜集到每家每户各自持有的土地房屋的数据信息，在经过几天的数据整理之后，通过管理后台，将这些数据提交并保存起来，以便于管理员进行之后的信息搜索和整合工作。</p>
  <p class="title top">教育经历</p>
  <p>学校名称：</p>
  <p>郴州职业技术学院 （2019/09-2022/06）</p>
  <p>所学专业：</p>
  <p>计算机应用技术</p>
  <p>学历学位：</p>
  <p>大专</p>
  <p class="title top">其它</p>
  <ul>
    <li>具有良好的人际沟通能力，闲暇之余会去逛知乎、掘金、CSDN等网站，提升自己的专业水平。工作时，会按时完成上级交付的任务，虚心学习。</li>
    <li>个人网站链接地址：https://chensishun-project-1dwpabb9440c5-1314000278.ap-shanghai.app.tcloudbase.com/</li>
  </ul>
</div>
</template>

<script>
export default {
  name: "index",
  data(){
    return {
      activeIndex: 0
    }
  },
  props:{
    //组件接收值的地方
    title:{
      type: String,
      default: ()=>{
        return ""
      }
    }
  },
  methods:{
    handleSelect(){
      console.log("hhhhhhh")
    }
  }
}
</script>

<style scoped lang="scss">
.resume-index{
  padding: 25px 170px;
  .center{
    text-align: center;
  }
  .title{
    font-size: 18px;
    font-weight: bold;
  }
  .top{
    padding-top: 20px;
  }
}
</style>