<template>
  <div class="index-view">
    <div class="top-cell">
      <div class="name">SiShun Chen</div>
      <el-menu
          :default-active="activeIndex"
          class="el-menu-demo"
          mode="horizontal"
          @select="handleSelect"
      >
        <el-menu-item index="/resume">我的简历</el-menu-item>
        <el-submenu index="2">
          <template slot="title">我的Demo</template>
          <el-menu-item index="/originalGod">模仿原神网站</el-menu-item>
          <!--        <el-submenu index="2-4">-->
          <!--          <template slot="title">选项4</template>-->
          <!--          <el-menu-item index="2-4-1">选项1</el-menu-item>-->
          <!--          <el-menu-item index="2-4-2">选项2</el-menu-item>-->
          <!--          <el-menu-item index="2-4-3">选项3</el-menu-item>-->
          <!--        </el-submenu>-->
        </el-submenu>
      </el-menu>
      <div class="avatar">
        <el-avatar src="https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png"></el-avatar>
      </div>
    </div>
    <div id="app">
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  name: "index",
  data(){
    return {
      activeIndex: "/resume"
    }
  },
  props:{
    //组件接收值的地方
    title:{
      type: String,
      default: ()=>{
        return ""
      }
    }
  },
  methods:{
    handleSelect(path){
      this.$router.push({
        path: path,
        query: {}
      })
    }
  },
  mounted() {
    this.$router.push({
      path: '/resume',
      query: {}
    })
  }
}
</script>

<style scoped lang="scss">
.index-view{
  position: relative;
  .el-menu-demo{

  }
  .top-cell{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
  }
  .name{
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding-left: 170px;
  }
  .avatar{
    padding-right: 170px;
  }

}
</style>