<template>
<div class="resume-index">
  <p>llllll</p>
</div>
</template>

<script>
export default {
  name: "index",
  data(){
    return {
      activeIndex: 0
    }
  },
  props:{
    //组件接收值的地方
    title:{
      type: String,
      default: ()=>{
        return ""
      }
    }
  },
  methods:{
    handleSelect(){
      console.log("hhhhhhh")
    }
  }
}
</script>

<style scoped lang="scss">
.resume-index{
  .title{
    color: red;
    font-size: 30px;
  }
}
</style>